* {
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    color: #8C5C3E ;
}

html {
    scroll-behavior: smooth;
}
/* Menu Desplegable */
.menu_desplegable > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 18%;
    padding-right: 18%;
    background-color: #8C5C3E;
}
.menu_desplegable > ul > li{
    position: relative;
}
.menu_desplegable > ul > li > a{
    display: block;
    padding: 1em 2em;
    border: 1px solid #8C5C3E;
    text-decoration: none;
    color: #F4F1EA;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #8C5C3E;    
}
.menu_desplegable > ul > li:hover > a{
    background-color: #f0f0f0;
    transition: transition 0.3s;
    color: #8C5C3E;
}

/*Titulo*/
.titulo {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/17/09/28/hotel-1831072_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333; 
    text-align: center;
    padding-top: 18%;
    padding-bottom: 18%;
}
.titulo h1 {
    font-size: clamp(24px, 2vw + 1rem, 48px);
    color: #F4F1EA;
    text-shadow: 2px 2px 4px #000000;
}

.servicios {
    background-color: #F4F1EA ;

}