* {
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    color: #8C5C3E ;
}
html {
    scroll-behavior: smooth;
}
/* Menu Desplegable */
.menu_desplegable > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 18%;
    padding-right: 18%;
    background-color: #8C5C3E;
}
.menu_desplegable > ul > li{
    position: relative;
}
.menu_desplegable > ul > li > a{
    display: block;
    padding: 1em 2em;
    border: 1px solid #8C5C3E;
    text-decoration: none;
    color: #F4F1EA;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #8C5C3E;    
}
.menu_desplegable > ul > li:hover > a{
    background-color: #f0f0f0;
    transition: transition 0.3s;
    color: #8C5C3E;
}
/*Inicio*/
.imagenes {
    display: flex;
    justify-content: center;
    background-color: #8C5C3E;
    padding-top: 3%;
}
.imagenes > .imagen1 > img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.imagenes > .imagen2 > img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
